__pycache__/
ndspec/__pycache__
ndspec/tests/__pycache__

.DS_Store
ndspec/.DS_Store

.ipynb_checkpoints/
powerlaw_tests.ipynb

ndspec.egg-info/

.vscode/

docs/_build/
**/.ipynb_checkpoints/

vvv/

.pytest_cache/

ndspec/_version.py
